<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>About</title>
        {{template "Header" .}}
    </head>
    <body>
        {{template "Topbar" .}}
      <div class="body-content">
          <br>
          <p>
              Renroll is created by Bryan Bell, his personal site is <a href="http://bjwbell.github.io/">Math & More</a>.
          </p>
          <br>
          <br>
          <br>
      </div>
      {{template "Bottombar"}}
    </body>
</html>
