<html>
    <head>
        <title>About</title>
        {{template "Header" .}}
    </head>
    <body>
        {{template "Topbar" .}}
        <br/>
        <br/>
        <br/>
        <br/>
        <p>
            <table border="0">
                <tr><td><b>Email</b></td><td>bryan.w.bell@gmail.com</td></tr>
                <tr><td><b>Mail</b></td><td>2556 Zinfandel Dr, Rancho Cordova, CA</td></tr>
                <tr><td><b>Phone</b></td><td>530-355-5145</td></tr>
            </table>
        </p>
        {{template "Bottombar"}}
    </body>
</html>
