<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>About</title>
        {{template "Header" .}}
        <link rel="stylesheet" type="text/css" href="css/contact.css" />
    </head>
    <body>
        {{template "Topbar" .}}
        <div class="body-content">
            <p class="contact-table">
                <table border="0">
                    <tr><td class="contact-td"><b>Email</b></td><td class="contact-td">bryan.w.bell@gmail.com</td></tr>
                    <tr><td class="contact-td"><b>Mail</b></td><td class="contact-td"><a href="https://www.google.com/maps/place/2556+Zinfandel+Dr,+Rancho+Cordova,+CA+95670">2556 Zinfandel Dr, Rancho Cordova, CA</a></td></tr>
                    <tr><td class="contact-td"><b>Phone</b></td><td class="contact-td">530-355-5145</td></tr>
                </table>
        </div>
        {{template "Bottombar"}}
    </body>
</html>
