<html>
  <head>
    <title>Renroll - Home</title>
    {{template "Header" .}}
  </head>
  <body>
      {{template "FBHeader" . }}
      {{template "Topbar" .}}
      <br/>
      <br/>
      <br/>
      <p style="background-color:lightblue;border-radius: 7px; box-shadow: 5px 5px 2px #888888;">&nbsp;Track your tenants with a monthly rent roll.</p>
      <ul class="across">
          <li style="border-radius: 7px; box-shadow: 5px 5px 2px #888888;">
              <img src="images/calc_img.png" alt="" />
              <br/>
              &nbsp;Eliminate manual work.
          </li>
          <li style="background-color:#d9423c;border-radius: 7px; box-shadow: 5px 5px 2px #888888;"><br/><a href="/submit" target="_top" id="email-link"><img src="images/email.png"/><br/>Sign In</a><br/>&nbsp;</li>
          <li style="border-radius: 7px; box-shadow: 5px 5px 2px #888888;">
              <img src="images/contact_icon.png" alt="" />
              <br/>
              &nbsp;Let Renroll send invoices & collect<br/> &nbsp;rent for you.
          </li>
      </ul>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      {{template "Bottombar"}}
  </body>
</html>
