<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Renroll - Home</title>
    {{template "Header" .}}
    <link rel="stylesheet" type="text/css" href="css/frontpage.css" />
  </head>
  <body>
      {{template "Topbar" .}}
      <div class="body-content">
          <p>&nbsp;Upload leases and automatically create a rent roll. No manual date entry.</p>
          <ul class="across">
              <li class="front-page-item">
                  <img src="images/calc_img.png" alt="" />
                  <br/>
                  &nbsp;Eliminate manual work.
              </li>          
              <li class="front-page-item">
                  <img src="images/msword-template-icon.png" height="128px" width="128px" alt="" />
                  <br/>
                  <a href="/rentrolltemplate" class="rentroll-template">Rent Roll Template</a>
              </li>          
              <li class="front-page-item">
                  <img src="images/contact_icon.png" alt="" />
                  <br/>
                  &nbsp;Let Renroll automatically extract lease info.
              </li>
          </ul>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <p class="front-page-item" style="background-color:Coral;text-align:center;"><br/><a href="/upload" class="front-page-sign-in">Upload Leases</a><br/>&nbsp;</p>
          <br />
          <br />
          <br />
      </div>
      {{template "Bottombar"}}
  </body>
</html>
