<html>
  <head>
    <title>Renroll - Rent Roll</title>
    {{template "Header" .}}
    <script src="js/rentroll.js"></script>
    <link rel="stylesheet" type="text/css" href="css/rentroll-template.css" />
  </head>
  <body>
      {{template "Topbar" . }}
      <span id="notloggedin-callback"
            callback="rentRollNotLoggedIn">            
      </span>
      <script>
       function gSigninForm(resp) {
           window.location.href = '/rentroll';
       }
       
       function fbSigninForm() {
           window.location.href = '/rentroll';
       }

       function removeTenant(dbName, tenantId) {
           tenantAction(dbName, tenantId, 'removetenant', '<a href="javascript:undoRemoveTenant(\'' + dbName + '\', ' + tenantId + ')">undo</a>');
       }

       function undoRemoveTenant(dbName, tenantId) {
           tenantAction(dbName, tenantId, 'undoremovetenant', '<a href="">dismiss</a>');
       }

       function tenantAction(dbName, tenantId, action, newValue){
           $.ajax({
               url: '/' + action,
               data: { 'DbName': dbName, 'TenantId': tenantId },
               success: function (suc) {
                   var tenantAction = document.getElementById('Tenant-' + tenantId);
                   if (suc !== 'true') {
                       logError('Error: tenantAction, action:' + action);
                   }
                   if (tenantAction !== null) {
                       tenantAction.innerHTML = newValue;
                   } else {
                       logError('cant get tenant element for tenantId' + tenantId);
                   }
               }
           });
       }
       
       function addTenantRow() {
           var tbl = document.getElementById("rentroll-table");
           if (tbl == undefined) {
               console.log("Couldn't find rentroll-table element");
               return;
           }
           $("#rentroll-table").append("\
               <tr>\
               <td class=\"td-no-border\">\
&nbsp;\
               </td>\
               <td class=\"td-no-border\">\
\
               </td>\
               <td class=\"td-no-border\">\
\
               </td>\
               <td class=\"td-no-border\">\
\
               </td>\
               <td class=\"td-no-border\">\
\
               </td>\
               <td class=\"td-no-border\">\
\
               </td>\
               <td class=\"td-no-border\">\
\
               </td>\
               <td class=\"td-no-border\">\
\
               </td>\
               <td class=\"td-no-border\">\
\
               </td>\
               <td class=\"td-no-border\">\
\
               </td>\
               <td class=\"td-no-border\">\
\
               </td>\
               <td class=\"td-no-border\">\
\
               </td>\
               <td class=\"td-no-border\">\
\
               </td>\
               </tr>");
           
           $("#rentroll-table").append(
"               <tr>\
               <input type=\"hidden\" name=\"DbName\" id=\"DbName\" value=\"DbName\" />\
               <td class=\"tmplt-td\">\
               <input size=\"23\" type=\"text\" title=\"Name\" name=\"Name\" />\
               </td>\
               <td class=\"tmplt-td\">\
               <input size=\"27\" type=\"text\" title=\"Address\" name=\"Address\" />\
               </td>\
               <td class=\"tmplt-td\">\
               <input size=\"5\" type=\"text\" title=\"SqFt\" name=\"SqFt\" value=\"2000\" />\
               </td>\
               <td class=\"tmplt-td\">\
               <input size=\"10\" type=\"text\" title=\"LeaseStartDate\" name=\"LeaseStartDate\" value=\"{{.DefaultLeaseStartDate}}\"  />\
               </td>\
               <td class=\"tmplt-td\">\
               <input size=\"10\" type=\"text\" title=\"LeaseEndDate\" name=\"LeaseEndDate\" value=\"{{.DefaultLeaseEndDate}}\" /></td>\
               <td class=\"tmplt-td\">\
               <input size=\"5\" type=\"text\" title=\"BaseRent\" name=\"BaseRent\" value=\"1000.00\" />\
               </td>\
               <td class=\"tmplt-td\">\
               <input size=\"5\" type=\"text\" title=\"Electricity\" name=\"Electricity\" value=\"100.00\" />\
               </td>\
               <td class=\"tmplt-td\">\
               <input size=\"5\" type=\"text\" title=\"Gas\" name=\"Gas\" value=\"100.00\" />\
               </td>\
               <td class=\"tmplt-td\">\
               <input size=\"5\" type=\"text\" title=\"Water\" name=\"Water\" value=\"100.00\" />\
               </td>\
               <td class=\"tmplt-td\">\
               <input size=\"5\" type=\"text\" title=\"SewageTrashRecycle\" name=\"SewageTrashRecycle\" value=\"100.00\" />\
               </td>\
               <td class=\"tmplt-td\"></td>\
               <td class=\"tmplt-td\">\
               <input size=\"14\" type=\"text\" title=\"Comments\" name=\"Comments\" />\
               </td>\
               <td class=\"tmplt-td\">\
               <input type=\"submit\" value=\"Add\" />\
               </td>\
               </tr>\
               ");
       }
      </script>
      <span id="signinform">
      </span>
      <div class="body-content">
          <h1>Rent Roll</h1>
          <span class="as-of-date">
              <b>As of Date:</b> &nbsp;{{.AsOfDateMonth}} {{.AsOfDateDay}}, {{.AsOfDateYear}}
          </span>
          <br>
          <form name="add-tenant" action="rentroll" method="post">
              <div id="tenants"><center>Loading...</center></div>
              <br>
          </table>
          </form>
      </div>
      {{template "Bottombar"}}
  </body>
</html>
