<html>
  <head>
    <title>Renroll - Rent Roll</title>
    {{template "Header" .}}
    <script src="js/rentroll.js"></script>
  </head>
  <body>
      {{template "Topbar" . }}
      <span id="notloggedin-callback"
            callback="rentRollNotLoggedIn">            
      </span>
      <script>
       function gSigninForm(resp) {
           window.location.href = '/rentroll';
       }
       
       function fbSigninForm() {
           window.location.href = '/rentroll';
       }
      </script>
      <span id="signinform">
      </span>
      <br/>
      <br/>
      <br/>
      <br/>
      <h1>Rent Roll</h1>
      <div id="tenants">Loading...</div>
      <br/>
      {{template "Bottombar"}}
  </body>
</html>
