<html>
  <head>
    <title>Renroll - Sign Up</title>
    {{template "Header" .}}
  </head>
  <body>
      {{template "FBHeader" .}}
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <h1 class="doordash-logo doordash-logo-inverted">
                      &nbsp;&nbsp;<a href="index.html" id="renroll">Renroll</a>
                  </h1>
              </div>
              <br/>
          </div>
      </nav>
      <br/>
      <br/>
      <br/>
      <br/>
      <p>
          <br/>
          <h2>Sign Up With:</h2>
          <span id="gSigninButton">
              <span id="g-callback"
                    callback="gSignup">            
              </span>
              <span class="g-signin"
                    data-callback="gSignin"
                    data-height="tall"
                    data-width="wide"
                    data-clientid="{{ .Conf.GoogleClientId }}"
                    data-cookiepolicy="single_host_origin"
                    data-scope="{{ .Conf.GooglePlusScopes }}">
              </span>
          </span>
          <br/>
          <span class="fb-login-button"
                data-max-rows="1"
                data-size="xlarge"
                data-show-faces="false"
                data-scope="{{ .Conf.FacebookScopes }}"
                onlogin="fbSignup"
                data-auto-logout-link="true">
          </span>
          <br/>
          
          <div id="status">
          </div>
          <br/>
          {{template "Bottombar"}}
  </body>
</html>
