<!DOCTYPE html>
<html>
  <head>
    <title>Renroll - Tenant</title>
    {{template "Header" .}}
    <link rel="stylesheet" type="text/css" href="css/tenant.css" />
    <link rel="stylesheet" type="text/css" href="css/rentroll-template.css" />
  </head>
  <body>
      {{template "Topbar" . }}
      <span id="notloggedin-callback"
            callback="tenantNotLoggedIn">            
      </span>
      <script src="js/tenant.js"></script>
      <script>
       $(document).ready(function() {
           $("#tenant-history").hide();
           //toggle the componenet with class msg_body
           $("#history-heading").click(function()
               {
                   $(this).next("#tenant-history").slideToggle(500);
               });
           $("#tenant-heading").click(function()
               {
                   $(this).next("#tenant").slideToggle(500);
               });
       });
      </script>
      <span id="signinform">
      </span>
      <div class="body-content">
          <h1>Tenant</h1>
          <span id="tenant-list"></span>
          <input type="hidden" name="DbName" id="DbName" value="DbName" />
          <br>
          <div id="undo" class="undo"></div>
          <br>
          <div id="tenant-heading" class="heading" hidden="true">Tenant Details</div>
          <span id="tenant" class="tenant-content"></span>
          <div id="spacer1" class="spacer"></div>
          <div id="history-heading" class="heading" hidden="true">History</div>
          <div id="tenant-history" class="tenant-content"></div>
          <div id="spacer2" class="spacer"></div>
          <br>
      </div>
      {{template "Bottombar"}}
  </body>
</html>
