{{define "Tenants"}}

<br>
<br>
<table class="rentroll-table" id="rentroll-table">
    <tr>
        <th class="th-tenant">Tenant</th>
        <th class="th-address">Address</th>
        <th class="default-th">Sq. Feet</th>
        <th class="default-th">Lease Start<br>(Date)</th>
        <th class="default-th">Lease End<br>(Date)</th>
        <th class="default-th">Base Rent</th>
        <th class="default-th">Electricity</th>
        <th class="default-th">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th class="default-th">&nbsp;&nbsp;&nbsp;Water&nbsp;&nbsp;&nbsp;</th>
        <th class="default-th">Sewage/Trash/<br>Recyle</th>
        <th class="default-th">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th class="th-comments">Comments</th>
        <th class="th-th">Action</th>
    </tr>
    {{range .Tenants}}
    <tr id="tr-{{.Id}}">
        <td class="default-td"><a class="tenant" href="/tenant?id={{.Id}}">{{.Name}} (#{{.Id}})</a></td>
        <td class="default-td">{{.Address}}</td>
        <td class="default-td">{{.SqFt}}</td>
        <td class="default-td">{{.LeaseStartDate}}</td>
        <td class="default-td">{{.LeaseEndDate}}</td>
        <td class="default-td">{{.BaseRent}}</td>
        <td class="default-td">{{.Electricity}}</td>
        <td class="default-td">{{.Gas}}</td>
        <td class="default-td">{{.Water}}</td>
        <td class="default-td">{{.SewageTrashRecycle}}</td>
        <td class="default-td">{{.Total}}</td>
        <td class="default-td">{{.Comments}}</td>
        <td class="default-td"><a href="javascript:editTenant({{.Id}})">edit</a>, <a href="javascript:removeTenant({{.Id}})">remove</a></td>
    </tr>

    <tr id="tr-edit-{{.Id}}" hidden="true">
        <td class="default-td"><input type="text" size="23" name="Name" value="{{.Name}}"/></td>
        <td class="default-td"><input type="text" size="27" name="Address" value="{{.Address}}" /></td>
        <td class="default-td"><input type="text" size="5" name="SqFt" value="{{.SqFt}}"/></td>
        <td class="default-td"><input type="text" size="10" name="LeaseStartDate" value="{{.LeaseStartDate}}"/></td>
        <td class="default-td"><input type="text" size ="10" name="LeaseEndDate" value="{{.LeaseEndDate}}"/></td>
        <td class="default-td"><input type="text" size="5" rent="true" name="BaseRent" value="{{.BaseRent}}"/></td>
        <td class="default-td"><input type="text" size="5" rent="true" name="Electricity" value="{{.Electricity}}"/></td>
        <td class="default-td"><input type="text" size="5" rent="true" name="Gas" value="{{.Gas}}"/></td>
        <td class="default-td"><input type="text" size="5" rent="true" name="Water" value="{{.Water}}"/></td>
        <td class="default-td"><input type="text" size="5" rent="true" name="SewageTrashRecycle" value="{{.SewageTrashRecycle}}"/></td>
        <td class="default-td" total="true"></td>
        <td class="default-td"><input type="text" size="14" name="Comments" value="{{.Comments}}"/></td>
        <td class="default-td"><a href="javascript:saveTenant({{.Id}}, true, true)">save</a></td>
    </tr>
    {{end}}
</table>
<br>
<a class="invoices" href="javascript:printInvoices()">Print Invoices</a>
<br>
<br>
{{end}}
